<div class="container text-center p-4">

        <h1 class="display-5 font-weight-light mb-3">Basic Testing</h1>

        <p class="lead">This works pretty well, doesn't it?</p>

        <p>I can show <strong>text</strong>, <code>code</code>, <em>quotes</em>, and <u>other <em>cool</em> <strong><em>stuff</em></strong></u>.</p>

        <a href=".." class="btn btn-sm btn-primary">Go Back</a>
    
</div>