.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-800px/2);
    margin-top: calc(-600px/2);
    width: 800px;
    height: 600px;
    background-color: white;
    text-overflow: clip;
    cursor: auto;
}

body {
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: none !important;
    width: 100vw;
    height: 100vh;
}

.cursor-normal {
    cursor: default;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.statbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
}

.canvas {
    width: 800px;
    height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.border-darker {
    border-color: #333333 !important;
}

.infobar {
    height: 565px !important;
}