/* These screen constraints will be removed after 1.0 */
.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: calc(-800px/2);
    margin-top: calc(-600px/2);
    width: 800px;
    height: 600px;
    background-color: white;
    text-overflow: clip;
}

body {
    background-color: black;
    font-family: 'IBM Plex Sans', sans-serif;
}

.statbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
}

.canvas {
    width: 800px;
    height: 565px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.border-darker {
    border-color: #333333 !important;
}