<!DOCTYPE html>

<html>

    <head>

        <title>Home</title>

        <% include comcss.ejs %>

    </head>

    <body>
        
        <div class="screen">

            <div class="canvas">

                

            </div>

            <footer class="statbar">
                <div class="container-fluid row m-0 p-0 text-dark">
                    <div class="col m-0 p-0 text-left">Home</div>
                    <div class="col m-0 p-0 text-right" id="time"></div>
                </div>
            </footer>
        
        </div>

        <% include comjs.ejs %>

        <script src="/res/js/clock.js"></script>

    </body>

</html>