<!DOCTYPE html>

<html>

    <head>

        <title>Home</title>

        <% include comcss.ejs %>

    </head>

    <body>
        
        <div class="screen">

            <div class="canvas container m-0 p-0">

                <div class="row m-0 p-0">

                    <div class="col-6 m-0 p-0">
                        <canvas id="a-clock" width="300px" height="300px">
                            Uh, Oh! Something broke!
                        </canvas>
                    </div>

                </div>

            </div>

            <footer class="statbar bg-dark border-top border-darker">
                <div class="container-fluid row m-0 p-0 text-light">
                    <div class="col m-0 p-0 text-left">Home</div>
                    <div class="col m-0 p-0 text-right" id="time"></div>
                </div>
            </footer>
        
        </div>

        <% include comjs.ejs %>

        <script src="/res/js/footerclock.js"></script>
        <script src="/res/js/analogclock.js"></script>

    </body>

</html>