<!DOCTYPE html>

<html>

    <head>

        <title>Home</title>

        <% include comcss.ejs %>

    </head>

    <body>
        
        <div class="screen">

            <div class="canvas container m-0 p-0">

                <div class="row m-0 p-0">

                    <div class="col m-0 p-0">
                        Clock will go here.
                    </div>

                </div>

            </div>

            <footer class="statbar bg-dark border-top border-darker">
                <div class="container-fluid row m-0 p-0 text-light">
                    <div class="col m-0 p-0 text-left">Home</div>
                    <div class="col m-0 p-0 text-right" id="time"></div>
                </div>
            </footer>
        
        </div>

        <% include comjs.ejs %>

        <script src="/res/js/footerclock.js"></script>

    </body>

</html>